#second, #third  #fourth {
  display: none;
}

body {
  background: #b0b8b2
 /* background-image:url("https://i.ytimg.com/vi/R04u9E5INTI/maxresdefault.jpg");
  background-attachment: fixed;
  background-size: 100% 100%;*/
}

header {
  grid-area: head; 
  background: #86e2d5;
}

.logopoke {
  padding-right: 50%;
  width: 180px;
  height: 100px;
}

h1 {
  color: white;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif ;
  font-size: 50px;
  text-align: center;
  text-shadow:-1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}

p { 
  text-align: center;
  color: white;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif ;
  font-size: 20px;
  /*text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;*/
}

.box1 {
  font-size: 20px;
  color: #86e2d5;
  background-color:  rgb(8, 8, 8);
  text-align: center; 
  width: 300px; 
  margin: 10px; 
  padding: 7px; 
  border: 0; 
  border-radius: 30px; 
  }

npm test
.card {
  background-color: rgb(8, 8, 8);
  height: 270px;
  width: 250px;
  display: inline-block;
  text-align: center;
  margin: 2%;
  border-radius: 5px;

}
    
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(243, 237, 237, 0.2);
}
    
.container {
  width: 200px;
  height: 100px;
  background-color:#86e2d5; 
  display: inline-block;
  text-align: center;
  
  padding: 2px 4px;
  border: 3px solid #2c3e50
  
  
}

.container p {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif ;
  font-size: 20px;
  color: #2c3e50;
  margin: 0;
  font-weight: bold;
  text-align: center;
  
}



.boxAllPokemons {
  display: flex;
  display: webkit-flex;
}

.footer {
  background:#86e2d5;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif ;
  color: #2c3e50;
  text-align: center;
  font-weight: bold;
  height: 50px;
}